dist: trusty
sudo: required
group: beta
language: node_js
node_js:
  - "8"
cache:
  directories:
    - node_modules
matrix:
  fast_finish: true
before_install:
  - sudo add-apt-repository -y ppa:ethereum/ethereum
  - sudo apt-get -qq update
  - sudo apt-get install ethereum-unstable
script:
  - npm run lint
  - npm run test-ci
