dist: xenial
sudo: required
group: beta
language: node_js
node_js:
  - "8"
cache:
  directories:
    - node_modules
matrix:
  fast_finish: true
install:
  - sudo apt-get -qq update
  - bash <(curl https://get.parity.io -L) -r v2.4.7
before_script:
  - export PATH=/snap/bin:${PATH}
  - npm install
script:
  - npm run test:ci
