dist: trusty
sudo: required
group: beta
language: node_js
node_js:
  - "8"
cache:
  directories:
    - node_modules
matrix:
  fast_finish: true
install:
  - sudo apt-get -qq update
  - sudo apt-get -y install rhash
  - bash <(curl https://get.parity.io -L) -r v2.1.1
before_script:
  - npm install
script:
  - npm run test:ci
